<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gqgx.common.mapper.SysLoginLogMapper">
  <resultMap id="BaseResultMap" type="com.gqgx.common.entity.SysLoginLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="session_id" jdbcType="VARCHAR" property="sessionId" />
    <result column="login_date" jdbcType="TIMESTAMP" property="loginDate" />
    <result column="logout_date" jdbcType="TIMESTAMP" property="logoutDate" />
    <result column="termianl_type" jdbcType="CHAR" property="termianlType" />
    <result column="login_type" jdbcType="CHAR" property="loginType" />
    <result column="login_msg" jdbcType="VARCHAR" property="loginMsg" />
    <result column="brower_type" jdbcType="VARCHAR" property="browerType" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="record_status" jdbcType="CHAR" property="recordStatus" />
    <result column="update_count" jdbcType="INTEGER" property="updateCount" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="updater_id" jdbcType="BIGINT" property="updaterId" />
  </resultMap>
</mapper>