<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gqgx.common.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.gqgx.common.entity.SysUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="pass_word" jdbcType="VARCHAR" property="passWord" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="entry_date" jdbcType="TIMESTAMP" property="entryDate" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="photo_id" jdbcType="BIGINT" property="photoId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="contacts" jdbcType="VARCHAR" property="contacts" />
    <result column="contacts_phone" jdbcType="VARCHAR" property="contactsPhone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="graduation" jdbcType="TIMESTAMP" property="graduation" />
    <result column="education" jdbcType="CHAR" property="education" />
    <result column="origin" jdbcType="VARCHAR" property="origin" />
    <result column="race" jdbcType="VARCHAR" property="race" />
    <result column="marriage" jdbcType="CHAR" property="marriage" />
    <result column="political" jdbcType="VARCHAR" property="political" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="user_status" jdbcType="CHAR" property="userStatus" />
    <result column="user_type" jdbcType="CHAR" property="userType" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="record_status" jdbcType="CHAR" property="recordStatus" />
    <result column="update_count" jdbcType="INTEGER" property="updateCount" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="updater_id" jdbcType="BIGINT" property="updaterId" />
    <result column="branch_company_id" jdbcType="BIGINT" property="branchCompanyId" />
  </resultMap>
</mapper>