<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
	 	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  
	 	http://www.springframework.org/schema/tx   
	 	http://www.springframework.org/schema/tx/spring-tx-3.2.xsd  
	 	http://www.springframework.org/schema/context     
	 	http://www.springframework.org/schema/context/spring-context-3.2.xsd 
	 	http://www.springframework.org/schema/mvc      
	 	http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">


	<!-- 启用spring mvc 注解 -->
	<mvc:annotation-driven content-negotiation-manager="contentNegotiationManager"/>
	
	<mvc:resources location="/js/" mapping="/js/**"/>
	<mvc:resources location="/css/" mapping="/css/**"/>
	<mvc:resources location="/images/" mapping="/images/**"/>
	<mvc:resources location="/hui3.0/" mapping="/hui3.0/**"/>

	<!-- 设置ctxPath -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.gqgx.interceptor.InitPathInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	
	
	<!-- 设置使用注解的类所在的jar包 -->
	<context:component-scan base-package="com.gqgx.action" />

	<bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">   
	    <property name="favorPathExtension" value="false" />  
	    <property name="favorParameter" value="false" />   
	    <property name="ignoreAcceptHeader" value="false" />   
	    <property name="mediaTypes" >   
	        <value>  
	            atom=application/atom+xml  
	            html=text/html  
	            json=application/json  
	            *=*/*  
	        </value>   
		</property>  
	</bean>
	
	<!-- 完成请求和注解POJO的映射 -->
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" /><!-- json转换器 -->
			</list>
		</property>
	</bean>
	
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- set the max upload size100MB -->
		<property name="maxUploadSize">
			<value>104857600</value>
		</property>
		<property name="maxInMemorySize">
			<value>4096</value>
		</property>
	</bean>

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" 
            id="internalResourceViewResolver">
        <!-- 前缀 -->
        <property name="prefix" value="/WEB-INF/view" />
        <!-- 后缀 -->
        <property name="suffix" value=".jsp" />
    </bean>  
</beans>